@import "tailwindcss";

@theme {
  --color-pantheon-emerald-400: #34d399;
  --color-pantheon-emerald-500: #10b981;
  --color-pantheon-emerald-600: #059669;
  --color-pantheon-emerald-700: #047857;
  --color-pantheon-emerald-800: #064e3b;
  --color-pantheon-emerald-900: #022c22;

  --color-pantheon-obsidian: #0b0f0e;
  --color-pantheon-onyx: #121816;
  --color-pantheon-onyx-light: #1b2421;
  --color-pantheon-gold: #c5a059;
  --color-pantheon-gold-light: #e5c179;
  --color-pantheon-marble: #fafafa;
  --color-pantheon-marble-muted: #a3a3a3;

  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

:root {
  --background: var(--color-pantheon-obsidian);
  --foreground: var(--color-pantheon-marble);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

